<!-- Footer -->
<footer class="footer text-center px-5 pt-2">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <p class="mb-1">
        Conceptualización de entornos de desarrollo de aplicaciones y servicios
      </p>
      <p class="mb-1">3.2. Estilos con Bootstrap</p>
    </div>
    <div>
      <p class="mb-1">Marianne Garrido Minutti</p>
      <p class="mb-1">{{ "marianne.garridom@gmail.com" }}</p>
      <p class="mb-1">223372347</p>
    </div>
  </div>
  <p class="mb-0">© 2025 Catálogo de Películas</p>
</footer>
