<div class="card-body flex-grow-1">
  <h5 class="card-title" *ngIf="!isEditing">{{ movie?.title }}</h5>
  <div *ngIf="isEditing">
    <input type="text" class="form-control" [(ngModel)]="movieEdit.title" />
  </div>
  <p class="card-text" *ngIf="!isEditing">{{ movie?.synopsis }}</p>
  <div *ngIf="isEditing">
    <textarea class="form-control" [(ngModel)]="movieEdit.synopsis"></textarea>
  </div>
  <p class="card-text" *ngIf="!isEditing">Año: {{ movie?.year }}</p>
  <div *ngIf="isEditing">
    <input type="number" class="form-control" [(ngModel)]="movieEdit.year" />
  </div>
  <p class="card-text" *ngIf="!isEditing">ID: {{ movie?.id }}</p>
  <div *ngIf="isEditing"></div>
  <p class="card-text" *ngIf="!isEditing">Creado: {{ movie?.created_at }}</p>
  <p class="card-text" *ngIf="!isEditing">
    Actualizado: {{ movie?.updated_at }}
  </p>
  <div *ngIf="isEditing">
    <input type="file" class="form-control" (change)="onFileChange($event)" />
  </div>
</div>
<div class="card-footer d-flex justify-content-end">
  <div *ngIf="isEditing">
    <button class="btn btn-secondary me-2" (click)="cancelEditing()">
      <i class="bi bi-x"></i>
    </button>
  </div>
  <button class="btn btn-primary me-2" (click)="toggleEditing()">
    {{ isEditing ? "Guardar" : "Editar" }}
  </button>
  <ng-template #deleteConfirmation let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Confirmar eliminación</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>¿Estás seguro de que quieres eliminar esta película?</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Close click')"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('confirm')"
      >
        Eliminar
      </button>
    </div>
  </ng-template>

  <button
    class="btn btn-danger"
    (click)="openConfirmationModal(deleteConfirmation)"
  >
    <i class="bi bi-trash"></i>
  </button>
  <div id="toast-container"></div>
</div>
