<div class="homeMain d-flex flex-column min-vh-100 align-items-center">
  <div class="text-white flex-fill fs-5 mainContainer">
    <!-- Contenedor principal -->
    <!-- Header -->
    <header class="d-flex align-items-center py-3">
      <div
        class="d-flex justify-content-center align-items-center"
        style="width: 200px; height: auto"
      >
        <img src="../../assets/logo.png" alt="logo" class="img-fluid" />
      </div>
      <h1 class="ms-3">Catálogo de Películas</h1>
    </header>

    <!-- Body -->
    <main
      class="container rounded d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h2>¡Hola!</h2>
      <p>
        ¿Eres un amante del cine? ¿Te encanta llevar un registro de las
        películas que has visto y las que aún te faltan por descubrir?
        ¡Entonces, este es tu lugar! Con nuestra aplicación de catálogo de
        películas, podrás organizar, eliminar, actualizar y crear tu propia
        colección cinematográfica, y tener el control absoluto de tu videoteca
        personal.
      </p>
    </main>
  </div>
</div>
