<main style="min-height: calc(100vh - 50px)">
  <button class="btn btn-secondary m-2" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
  </button>
  <h1 class="text-center text-white mb-5">{{ movie?.title }}</h1>
  <div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card p-5" style="width: 1000px; min-height: 400px">
      <div class="row g-0 d-flex">
        <div class="col-md-6 order-md-2 d-flex justify-content-center">
          <img
            [src]="
              'http://localhost:80/tareas/catalogo/public/img/' + movie?.cover
            "
            class="img-fluid rounded-start"
            alt="{{ movie?.title }}"
            style="object-fit: cover; max-height: 400px"
          />
        </div>
        <div class="col-md-6 order-md-1 d-flex flex-column">
          <app-edit-movie
            [movie]="movie"
            (movieUpdated)="onMovieUpdated($event)"
            (movieDeleted)="goBack()"
          ></app-edit-movie>
        </div>
      </div>
    </div>
  </div>
</main>
